@model IEnumerable<APPDEVInc2.DataBaseModels.InvoiceTbl>

@using APPDEVInc2.Repository;
@using APPDEVInc2.DataBaseModels;
@{
    ViewBag.Title = "Invoice Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}


<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>


    .btn {
        display: block;
        border: none;
        background-color: #34eb55;
        color: white;
        letter-spacing: 2px;
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        transition: .2s all ease-in-out;
        border-bottom: 2px solid transparent;
        outline: none;
        text-align: center;
        width: 100px;
    }

    .btn-back-button {
        display: block;
        border: none;
        background-color: #07f50b;
        color: darkseagreen;
        letter-spacing: 2px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        transition: .2s all ease-in-out;
        border-bottom: 2px solid transparent;
        outline: none;
        text-align: center;
        width: 100px;
    }

    p {
        font-size: 15px;
    }

    th, td {
        font-size: 14px;
    }
</style>

<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
    @{ var item = Model; }
    @foreach (var x in item)
    {
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row p-5">
                            <div class="col-md-6">
                                <img src="~/Images/Vees Tyre and Alignment.jpg">
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="font-weight-bold mb-1">Order ID : @x.InvoiceID </p>
                                <p class="text-muted">Current Date: @DateTime.Now</p>
                            </div>
                        </div>
                        <hr class="my-5">
                        <div class="row pb-5 p-5">
                            <div class="col-md-6">
                                <p class="font-weight-bold mb-4">Customer Information</p>
                                <p class="mb-1">@x.CustomerTbl.FirstName @x.CustomerTbl.Surname</p>

                                <p class="mb-1">Contact No: @x.CustomerTbl.ContactNo</p>
                                <p class="mb-1">Email: @x.CustomerTbl.EmailAddress</p>



                            </div>
                            <div class="col-md-6 text-right">
                                <p class="font-weight-bold mb-4">Quote</p>
                                <p class="mb-1"><span class="text-muted">Invoice ID :</span> @x.InvoiceID</p>
                                <p class="mb-1"><span class="text-muted">Date of Invoice:</span> @x.DateOfInvoice</p>
                                <p class="mb-1"><span class="text-muted">Payment Type: </span>@x.PaymentType</p>
                                <p class="mb-1"><span class="text-muted">Name: </span>PayFast Sandbox Simulation</p>

                            </div>
                        </div>
                        <div class="row p-5">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Name</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Decription</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">QTY</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Unit Price</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            GenericUnitOfWork _unitofwork = new GenericUnitOfWork();

                                            var report = _unitofwork.GetRepositoryInstance<ReportTbl>().GetAllRecordsIQueryable().Where(a => a.VehicleID == x.VehicleID && a.Status == "Processed").ToList();
                                            int reportid = 0;
                                            foreach (var a in report)
                                            {
                                                reportid = a.ReportID;

                                            }
                                            var orderid = _unitofwork.GetRepositoryInstance<ReportDetailTbl>().GetAllRecordsIQueryable().Where(a => a.ReportID == reportid).ToList();

                                        }
                                        @foreach (var y in orderid)
                                        {
                                            if (y.StockTbl.ServiceID == 1)
                                            {
                                                <tr>
                                                    <td>@y.StockTbl.TyresTbl.TyreID</td>
                                                    <td>@y.StockTbl.TyresTbl.TyreSize</td>
                                                    <td>@y.StockTbl.TyresTbl.TyreName</td>
                                                    <td>@y.StockTbl.TyresTbl.TyreBrand</td>
                                                    <td>@y.Quantity</td>
                                                    <td>@y.Price</td>
                                                    <td>R @(y.StockTbl.Price * y.Quantity)</td>
                                                </tr>
                                            }
                                            if (y.StockTbl.ServiceID != 1)
                                            {
                                                <tr>
                                                    <td>@y.StockTbl.StockID</td>
                                                    <td>@y.StockTbl.ServiceTbl.Name-@y.StockTbl.StockID</td>
                                                    <td>@y.StockTbl.ServiceTbl.Name</td>
                                                    <td>@y.StockTbl.ServiceTbl.Description</td>

                                                    <td>@y.Quantity</td>
                                                    <td>@y.Price</td>
                                                    <td>R @(y.StockTbl.Price * y.Quantity)</td>
                                                </tr>
                                            }

                                        }



                                    </tbody>







                                </table>

                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse bg-dark text-white p-4">

                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Grand Total(VAT Incl)</div>
                                <div class="h2 font-weight-light">R @(x.AmountPaid)</div>

                            </div>

                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">VAT(15%)</div>
                                <div class="h2 font-weight-light">R @(x.AmountPaid * (decimal)0.15)</div>
                            </div>
                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Sub - Total amount Without VAT</div>
                                <div class="h2 font-weight-light">R @(x.AmountPaid - (x.AmountPaid * (decimal)0.15))</div>
                            </div>
                            <div class="pull-left">


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    <div class="text-light mt-5 mb-5 text-center small">by : <a class="text-light" target="_blank" href="">Vees Tyre and Alignment © </a></div>

</div>