@model APPDEVInc2.DataBaseModels.ToolsCheckOut
@{
    ViewBag.Title = "Sign Tool Check In";
}
<style>
    .signature-pad > canvas {
        display: block;
        width: 300px;
        height: 150px;
        margin-bottom: 5px;
    }
</style>
 <h2>Signature Toolbox Return</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ToolBoxCheckOutID)



        <div class="form-group">
            @Html.LabelFor(model => model.SignatureCheckIn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SignatureCheckIn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SignatureCheckIn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/signature_pad.min.js"></script>
    <script src="~/Scripts/SignaturePadInit.js"></script>
}
