@model APPDEVInc2.DataBaseModels.StockTbl

@{ ViewBag.Title = "Tyre Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<style>
    tbody {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: black;
        padding-top: 5px;
    }

    body {
        background-color: #cccaca;
    }

    .fas fa-list-alt {
        color: black;
        text-align: left;
        justify-content: left;
    }

    .CategroyPageHeading {
        color: #1c8219;
        text-align: center;
        justify-content: center;
        font-family: Arial;
        font-size: 21px;
        font-weight: bold;
    }

    th {
        background-color: white;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        color: #0771ab;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-weight: bold;
    }

    .breadcrumb {
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0 6px 0 #545454;
        font-size: 18px;
    }

    .card {
        border: 2px;
        border-color: white;
        box-shadow: 0px 0 6px 0 #000000;
    }

    .card-header {
        background-color: white;
        border-radius: 20px;
    }

    ol li a {
        color: #ff007d;
    }

    .editlabel a {
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        color: black;
    }

    .table-responsive {
        border-radius: 5px 5px 5px 5px;
    }

    .pagination {
        background-color: white;
        color: black;
        font-size: 18px;
        border-color: white;
    }

    .fa .fa-plus {
        color: #ffd800;
    }

    .pageheader {
        font-family: 'Abril Fatface', cursive;
        font-size: 27px;
        color: black;
        text-align: center;
        justify-content: center;
    }

    .AdminCategories {
        width: 15%;
        height: 14%;
    }

    tr:nth-child(odd) {
        background-color: #d1eaea;
    }
</style>



<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a style="font-weight:bold;" href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item disabled">Tyre Amount</li>
        <li class="breadcrumb-item active">Tyre Stock QTY</li>

    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <br />
            <h2 class="CategroyPageHeading">TYRE QUANTITY</h2>
            <img src="~/Images/Edit Product.svg" class=" AdminCategories pull-right" />
        </div>
        <h2>TyreStockPost</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>StockTbl</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ServiceID)
        @Html.HiddenFor(model => model.TyreID)
        @Html.HiddenFor(model => model.Price)



        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        }

        
</div>
</div>