@model IEnumerable<APPDEVInc2.DataBaseModels.OrdersTbl>
@using APPDEVInc2.Repository;
@using APPDEVInc2.DataBaseModels;
@{
    ViewBag.Title = "Order Detail";
    Layout = "~/Views/Shared/_LayoutOrderDetail.cshtml";

}


<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>


    .btn {
        display: block;
        border: none;
        background-color: #34eb55;
        color: white;
        letter-spacing: 2px;
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        transition: .2s all ease-in-out;
        border-bottom: 2px solid transparent;
        outline: none;
        text-align: center;
        width: 100px;
    }

    .btn-back-button {
        display: block;
        border: none;
        background-color: #07f50b;
        color: darkseagreen;
        letter-spacing: 2px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        transition: .2s all ease-in-out;
        border-bottom: 2px solid transparent;
        outline: none;
        text-align: center;
        width: 100px;
    }

    p {
        font-size: 15px;
    }

    th, td {
        font-size: 14px;
    }
</style>

<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
    @{ var item = Model;
        var imgsrcx = "";}
    @foreach (var x in item)
    {
        if (x.QRCodeImage != null)
        {
            var base64x = Convert.ToBase64String(x.QRCodeImage);
            imgsrcx = string.Format("data:image/png;base64,{0}", base64x);
        }




        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row p-5">
                            <div class="col-md-6">
                                <img src="~/Images/Vees Tyre and Alignment.jpg" style="width:500px;height:150px">
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="font-weight-bold mb-1">Order ID : @x.OrderID </p>
                                <p class="text-muted">Current Date: @DateTime.Now</p>
                            </div>
                        </div>
                        <hr class="my-5">
                        <div class="row pb-5 p-5">
                            <div class="col-md-6">
                                <p class="font-weight-bold mb-4">Customer Information</p>
                                <p class="mb-1">@x.Customertbl.FirstName @x.Customertbl.Surname</p>

                                <p class="mb-1">Contact No: @x.Customertbl.ContactNo</p>
                                <p class="mb-1">Email: @x.Customertbl.EmailAddress</p>
                                @if (x.QRCodeImage != null)
                                {<h2 class="mb-1">Provide Driver With QR Code:</h2>
                                    <img src="@imgsrcx" class="rounded" width="250" height="200" />
                                }
                                else
                                {
                                    <h2 class="mb-1">Still Pending Delivery:</h2>
                                }
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="font-weight-bold mb-4">Invoice</p>
                                <p class="mb-1"><span class="text-muted">OrderID :</span> @x.OrderID</p>
                                <p class="mb-1"><span class="text-muted">Date of Order:</span> @x.DateOfOrder</p>
                                <p class="mb-1"><span class="text-muted">Payment Type: </span>PayFast</p>
                                <p class="mb-1"><span class="text-muted">Name: </span>PayFast Simulation</p>

                            </div>
                        </div>
                        <div class="row p-5">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Name</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Brand</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">QTY</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Unit Price</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            GenericUnitOfWork _unitofwork = new GenericUnitOfWork();
                                            var orderid = _unitofwork.GetRepositoryInstance<OrderDetailsTbl>().GetAllRecordsIQueryable().Where(a => a.OrderID == x.OrderID).ToList();

                                        }
                                        @foreach (var y in orderid)
                                        {
                                            <tr>
                                                <td>@y.StockTbl.TyresTbl.TyreID</td>
                                                <td>@y.StockTbl.TyresTbl.TyreSize</td>
                                                <td>@y.StockTbl.TyresTbl.TyreName</td>
                                                <td>@y.StockTbl.TyresTbl.TyreBrand</td>
                                                <td>@y.Quantity</td>
                                                <td>@y.Price</td>
                                                <td>R @(y.StockTbl.Price * y.Quantity)</td>
                                            </tr>
                                        }



                                    </tbody>
                                    @{
                                        var imgsrc = "";
                                    }
                                    @if (x.CustomerSignature != null)
                                    {

                                        {
                                            var base64 = Convert.ToBase64String(x.CustomerSignature);
                                            imgsrc = string.Format("data:image/png;base64,{0}", base64);
                                        }

                                    }




                                </table>

                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse bg-dark text-white p-4">

                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Grand Total(VAT Incl)</div>
                                <div class="h2 font-weight-light">R @(x.TotalPrice + x.DeliveryCost)</div>

                            </div>
                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Delivery Cost</div>
                                <div class="h2 font-weight-light">R @x.DeliveryCost</div>
                            </div>

                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">VAT(15%)</div>
                                <div class="h2 font-weight-light">R @x.VAT</div>
                            </div>
                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Sub - Total amount Without VAT</div>
                                <div class="h2 font-weight-light">R @(x.TotalPrice - x.VAT)</div>
                            </div>
                            <div class="pull-left">


                            </div>
                        </div>
                        @if (x.CustomerSignature != null)

                        {
                            <h2>Customer Signature : </h2>
                            <h2>@x.Customertbl.FirstName @x.Customertbl.Surname</h2>
                            <div class="d-none d-lg-block col-lg-2 text-center py-2">
                                <img src="@imgsrc" class="rounded" width="250" height="200" />
                            </div>
                        }
                        else
                        {
                            <h2>Pending Signature on Delivery. </h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="text-light mt-5 mb-5 text-center small">by : <a class="text-light" target="_blank" href="">Vees Tyre and Alignment © </a></div>

</div>